@use '../shared/colors';
@use '../shared/utilitaires';

$zone-border-color : colors.$or;


$titre-color: colors.$or;
$table-head-bg: colors.$cramoisi;
$table-head-color: colors.$blanc;
$nuance: #f2f2f2;
$hover-bg: colors.$or;
$hover-color: colors.$cramoisi;

$actions-bg: colors.$blanc;
$actions-border: colors.$pourpre;

$toggler-color: colors.$pourpre;

#corps-action-container{
	@include utilitaires.centrer-horizontal(75%);
	min-height:800px;
}

.zone{
	border: solid $zone-border-color 1px;
	margin-top: 50px;
	margin-bottom:10px;
	padding: 20px;
	box-shadow: 0px 10px 10px 0px $nuance;
}
#info-personnelle-container{
	.zone-tete{
		text-align:center;
	}
}
.zone-tete{
	&>div{
		.info-libelle{
			margin-right:10px;
			margin-bottom:20px;
		}
		@include utilitaires.centrer-vertical;
		margin-right:30px;
		margin-bottom:10px;
	}
}

.user-mode-btn{
	.icon-container{
		.icon{
			width:100%;
			height:100%;
		}

		width:20px;
		height:22px;
	}
	.icon-text{
			@include utilitaires.centrer-vertical;
			
			margin-left:5px;
		}
	cursor:pointer;
	color:#9D01FD;
	margin-bottom:25px;
}
	
.zone-bloc{
	.info-libelle{
		margin-bottom:10px;
	}
	width:50%;
}
.info-libelle{
	font-weight:bold;
	font-size: utilitaires.$text-M;
}
.info-value{
	@include utilitaires.centrer-vertical;
}
.photo-identite{
	width:150px;
	height:150px;
	background:whitesmoke;
	border: 5px solid whitesmoke;
}

#tableau-header{
	background-color: $table-head-bg;
	padding: 20px 0px;
	color: $table-head-color;
}
.tableau-head{
	width:19%;
	text-align: center;
	font-size: utilitaires.$text-M;
}

.libelle-responsive{
	display: none;
}
.info-bloc{
	div{
		text-align: center;
		flex:1;
	}
	@include utilitaires.centrer-vertical;
	width:19%;
	padding:10px 0px;
}
.impaire{
	background-color: $nuance;
}
.ligne{
	margin-top: 20px;
	
}
#tableau-corps{
	.ligne{
		&:hover{
			background-color: $hover-bg;
			color: $hover-color;
			cursor:pointer;
		}
	}
}
.bloc-value{
	@include utilitaires.centrer-vertical;

}

#info-assemblee-part,#info-personnelle-part{
	position:relative;
}
#assemblee-actions-toggler,#info-perso-actions-toggler{
	position:absolute;
	right:20px;
	font-size:30px;
	color: $toggler-color;
	padding:10px 40px;
}
.toggler, .closer{
	cursor:pointer;
}
#assemblee-actions,#info-perso-actions{
	.closer{
		text-align:right;
		font-size:30px;
		color: $toggler-color;
	}
	position:absolute;
	right:20px;
	z-index:20;
	background:$actions-bg;
	padding:10px 40px;
	box-shadow:1px 1px 5px $actions-border;
}
.actions-elt{
	margin-bottom:10px;
}


.groupe-actions-bloc{
	position:relative;
}

.groupe-actions{
	.closer{
		text-align:right;
		color: $toggler-color;
		margin-right:10px;
		margin-top:10px;
	}
	position:absolute;
	top:0;
	z-index:22;
	background: $actions-bg;
	box-shadow:1px 1px 5px $actions-border;
	width:100%;
}

.form-control{
	input,textarea,select{
		width:100%;
		margin-top:10px;
		font-size: utilitaires.$text-M;
		padding:10px;
		border: colors.$cramoisi 1px solid;
		outline:none;
	}

	margin-bottom:50px;
}

.overlay-btn,#chargement-btn-closer{
		font-size: utilitaires.$text-L;
		cursor:pointer;
		background : linear-gradient(colors.$cramoisi, colors.$pourpre);
		padding:10px 20px;
		color: colors.$blanc;
	}




/**********************************OVERLAY*******************************************************/
.overlay{
	position: fixed; /* Sit on top of the page content */
	/*display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	/*cursor: pointer; /* Add a pointer on hover */
}

.overlay-container{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
  font-size: 20px;
  background-color: white;
  padding: 30px 80px;
  border-radius: 10px;
  width:40%;
}
.centreur{
	display:flex;
	flex-diretion:row;
	justify-content:center;
}

.overlay-message{
	font-size:18px;
	color: red;
	padding:30px 0px;
	text-align:center;
}
.close-overlay{
	padding:20px 30px;
	color: colors.$cramoisi;
	display:flex;
	cursor:pointer;
}


/**********************************OVERLAY*******************************************************/
@media screen and (max-width: 1024px){

}



@media screen and (max-width: 768px){
	#corps-action-container{
		@include utilitaires.centrer-horizontal(90%);
	}
	.zone-bloc{
		width:100%;
	}
	#tableau-header{
		display:none;
	}
	.info-bloc{
		width:100%;
		display:flex;
		flex-direction:row;
	}
	.libelle-responsive{
		display:flex;
	}
	#titre{
		margin-top:40px;
		font-size: utilitaires.$text-XL;
	}
	
	.overlay-container{
		width:60%;
	}
	h2{
		max-width: 75%
	}
 #info-perso-actions-toggler{
 	padding:30px 20px;
 }
	#photo-identite-container{
		@include utilitaires.centrer-horizontal(50%);
	}
}





@media screen and (max-width: 480px){
	#corps-action-container{
		@include utilitaires.centrer-horizontal(100%);
	}
	.zone-bloc{
		width:100%;
	}
	#tableau-header{
		display:none;
	}
	.info-bloc{
		width:100%;
		display:flex;
		flex-direction:row;
	}
	.libelle-responsive{
		display:flex;
	}
	#titre{
		margin-top:30px;
		font-size: utilitaires.$text-L;
	}
	.overlay-container{
		width:60%;
	}
	h2{
		max-width: 75%;
	}
	#info-perso-actions-toggler{
	 	padding:30px 20px;
	}
 #photo-identite-container{
		@include utilitaires.centrer-horizontal(50%);
	}
}