@use 'shared/colors';
@use 'shared/utilitaires';

$form-bg: colors.$cramoisi;
$form-color: colors.$blanc;
$form-shadow: colors.$pourpre;

$chp-bg: colors.$blanc;
$chp-color: colors.$cramoisi;

$btn-bg: colors.$pourpre;
$btn-color: colors.$blanc;

$feed-back-bg: colors.$cramoisi;
$feed-back-color: colors.$or;


$footer-color: colors.$or;
.ligne-permanente{
	@include utilitaires.ligne;
}

.ligne-temporaire{
	@include utilitaires.ligne;
}

.invisible{
	display: none;
}



#corps-part{
	height: 800px;
}

#corps-part-container{
	@include utilitaires.centrer-vertical;
	@include utilitaires.centrer-horizontal(30%);
	height: 100%;
}
form{
	padding:80px 0px;
	background-color: $form-bg;
	color: $form-color;
	border-radius: 20px;
	box-shadow: 0px 5px 5px 0px $form-shadow;
}
#form-container{
	@include utilitaires.centrer-horizontal(90%);
}

#feed-back{
	text-style: italic;
	text-align: center;
	margin-bottom: 30px;
	color: $feed-back-color;
	background-color: $feed-back-bg;
}
#titre{
	font-size: utilitaires.$text-L;
	text-align: center;

	margin-bottom: 20px;
}
.chp-bloc{
	margin-bottom: 35px;
}
.chp-label{
	@include utilitaires.centrer-vertical;
	width: 30%;
	font-size: utilitaires.$text-M;
}

.chp{
	input{
		&:focus{
			outline: none;
		}
		flex:1;
		font-size: utilitaires.$text-M;
		background-color: $chp-bg;
		border: 0px;
		color: $form-bg;
	}
	display:flex;
	width:75%;
	border: 1px solid $chp-bg;
	background-color: $chp-bg;
	color: $chp-color;
	border-radius: 10px;
	padding:2px;
}

#visibilite-mdp{
	@include utilitaires.centrer-vertical;
	cursor: pointer;
}

#btn-valider-container{
	button{
		font-size: utilitaires.$text-M;
		background-color: $btn-bg;
		color: $btn-color;
		padding: 5px 10px;
		border-radius: 10px;
		border: 0px;
		box-shadow: 0px 3px 3px 0px $btn-color;
	}
	@include utilitaires.centrer-horizontal(60%);
	text-align: center;
	padding-top:30px;
}

#footer{
	position: absolute;
	bottom: 10px;
	justify-content:center;
	text-sytle: italic;
	color: $footer-color;
}


@media screen and (max-width: 1024px){
	#form-container{
		@include utilitaires.centrer-horizontal(80%);
	}
	#corps-part-container{
		@include utilitaires.centrer-horizontal(80%);
	}
	.chp{
		width:90%;
	}
}

@media screen and (max-width: 768px){
	#form-container{
		@include utilitaires.centrer-horizontal(90%);
	}
	#corps-part-container{
		@include utilitaires.centrer-horizontal(90%);
	}
	.chp{
		width:90%;
	}
}
@media screen and (max-width: 480px){
	#form-container{
		@include utilitaires.centrer-horizontal(100%);
	}
	#corps-part-container{
		@include utilitaires.centrer-horizontal(100%);
	}
	.chp{
		width:97%;
	}
	.ligne-temporaire{
		flex-direction: column;
	}
	.chp-label{
		width: 100%;
		text-align:center;
	}
}