@use '../shared/colors';
@use '../shared/utilitaires';

$zone-border-color : colors.$or;


$titre-color: colors.$or;
$table-head-bg: colors.$cramoisi;
$table-head-color: colors.$blanc;
$nuance: #f2f2f2;
$hover-bg: colors.$or;
$hover-color: colors.$cramoisi;
$lien-color: colors.$cramoisi;

#corps-action-container{
	@include utilitaires.centrer-horizontal(75%);
	min-height:800px;
}
.lien-modifier{
	@include utilitaires.centrer-vertical;
	margin-left:auto;
	text-decoration: underline;
	color: $lien-color;
	font-size: utilitaires.$text-L;
	font-weight: bold;
	cursor: pointer;
}
.zone{
	border: solid $zone-border-color 1px;
	margin-top: 50px;
	margin-bottom:10px;
	padding: 20px;
	box-shadow: 0px 10px 10px 0px $nuance;
}
.zone-tete{
	&>div{
		.info-libelle{
			margin-right:10px;
		}
		margin-bottom:10px;
	}
}

.zone-bloc{
	.info-libelle{
		margin-bottom:10px;
	}
	width:50%;
}
.info-libelle{
	font-weight:bold;
	font-size: utilitaires.$text-M;
}
.info-value{
	@include utilitaires.centrer-vertical;
}


#tableau-header{
	background-color: $table-head-bg;
	padding: 20px 0px;
	color: $table-head-color;
}
.tableau-head{
	width:33%;
	text-align: center;
	font-size: utilitaires.$text-M;
}

.libelle-responsive{
	display: none;
}
.info-bloc{
	div{
		text-align: center;
		flex:1;
	}
	@include utilitaires.centrer-vertical;
	width:33%;
	padding:10px 0px;
}
.impaire{
	background-color: $nuance;
}
.zone-bloc{
	margin-top: 20px;
	
}
#tableau-corps{
	.ligne{
		&:hover{
			background-color: $hover-bg;
			color: $hover-color;
			cursor:pointer;
		}
	}
}
.bloc-value{
	@include utilitaires.centrer-vertical;
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
	#corps-action-container{
		@include utilitaires.centrer-horizontal(100%);
	}
	.zone-bloc{
		width:90%;
	}
	#tableau-header{
		display:none;
	}
	.info-bloc{
		width:90%;
	}
	.ligne{
		padding: 20px 0px;
	}
}

@media screen and (max-width: 480px){	
	#corps-action-container{
		@include utilitaires.centrer-horizontal(100%);
	}
	.zone-bloc{
		width:100%;
	}
	#tableau-header{
		display:none;
	}
	.info-bloc{
		width:100%;
	}
	.ligne{
		padding: 20px 0px;
	}
}


